<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/blog_main.css' %}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <title>TA - {{ article.slug }}</title>
  <link rel="icon" href="{% static 'profile_app/my_blog_icon.png' %}" type="image/x-icon">
</head>

<body>
  {% include 'profile_app/navbar.html' %}
  <div class="article-main">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="container mb-4">
          <h2 class="article-title text-center">{{ article.title }}</h2>
        </div>
        {% block content %}{% endblock %}
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card" style="float:left">
          <div class="card-header text-center">
            Topics:
            {% for tag in article.tags.all %}
              {% if forloop.last %}
              <a href="{% url 'tag-articles' tag.slug %}"><strong>{{ tag.name }}</strong></a>
              {% else %}
              <a href="{% url 'tag-articles' tag.slug %}"><strong>{{ tag.name }}</strong></a>,
              {% endif %}
            {% endfor %}
          </div>
          <div class="card-body text-justify">
            <p>{{ article.short_description }}</p>
            <p class="card-text">
              <small class="text-muted">{{ article.date_created }}</small>
              {% if article.git_url %}
                <small class="text-muted"> - <a href="{{ article.git_url }}">Code in Github</a></small>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
