{% extends "profile_app/base_home.html" %}
{% load static %}
{% block content %}

<div class="home-container">
  <canvas id="home-canvas"></canvas>
  {% include 'profile_app/navbar.html' %}
  <div class="home-post-media float-right">
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-12">
        <div class="card text-white bg-transparent">
          <div class="card-body">
            <h4 class="card-title"><strong>Posts</strong></h4>
            <p class="card-text">Articles on Python programming, Machine Learning, and Test Automation with focus on applications.</p>
            <a href="{% url 'blog-home' %}" class="btn btn-primary">Go To Posts</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-about-me-media">
    <div class="row justify-content-start">
      <div class="col-lg-6 col-md-12">
        <div class="media text-white">
          <img class="align-self-start" id="home-about-me-img" src="./media/my_new_pic.png" alt="My Picture">
          <div class="media-body home-about-me-body">
            <h4 class="card-title title-card-title text-white">Taher Amlaki</h4>
            <p class="card-text title-card-text text-muted">Python Developer, Machine Learning Enthusiast, Test Automation Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'profile_app/home_canvas.js' %}"></script>
{% endblock content %}
